<div class="container-fluid">
  <div class="well">

  <div class="form-group">
<!--
  <button type="button" class="btn btn-info" (click)="goToPageFront('front')">Front Page</button>
  
  <button type="button" class="btn btn-info" (click)="goToPageBody('body')">Body page</button>
  
  <button type="button" class="btn btn-info" (click)="goToPagePrinters('printer')">Printers</button>

   <button type="button" class="btn btn-info" (click)="goToPageCenter('printer')">Center</button> -->
</div>

</div>
</div>