<div class="container-fluid">
  <div class="well">

<p class="h1">This is the front page</p>
  <div class="form-group">

This is test from Justin, OK?
working...

<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-danger">Danger</button>
</div>

</div>
</div>