<div class="bw">
	<div *ngFor="let alert of alerts"> 
		<alert [type]="alert.type" dismissible="true"> {{alert.msg}} </alert>
	</div>
       <div class="left">
           <div class="left_upper form-horizontal">
           <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2 col-xl-2">
           		<img class="img-rounded" [src]= "logoToShow" alt="Place image title" *ngIf="!isImageLoading; else noImageFound" height="80" width="80"> 
           </div>  
           <div class="col-xs-12 col-sm-12 col-md-8 col-lg-10 col-xl-10">
           <h1 class="h1_class">{{ct.centerName}}</h1>
           </div>
           <p><button>{{ct.centerCity}},  {{ct.centerState}},  {{ct.centerZipCode}}</button></p>
           </div>
           
 
           		<div class="bpu">
           			<h3 class="bpv bpw">About The Center</h3>
           		</div>
           		
           <div class="left_lower">
           		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
           			{{ct.centerDescription}}
           		</div>
           		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
           			<agm-map [latitude]="lat" [longitude]="lng" [zoom]=zoom>
           				<agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
           			</agm-map>
           		</div>
           </div>
       </div>
       <div class="right">
       		<div class="right_upper">
       		   <p> this is user's review rating and comments <p>
       		</div>
       		<div class="right_lower">  
       		this is David
       		<canvas id="canvas">{{chart}}</canvas>
       	</div>
       </div>
</div>
