@import "theme_xs";
@import "theme_sm";
@import "theme_md";
@import "theme_lg";
@import "theme_xl";
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

#tCreateTest {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    align-items: center;
    justify-content: space-around;
    display: flex;
    float: none;
}

#tCreateTest1 {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    align-items: center;
    justify-content: space-around;
    display: flex;
    float: none;
}

