@import "theme_xs";
@import "theme_sm";
@import "theme_md";
@import "theme_lg";
@import "theme_xl";
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

@mixin themable($theme-name, $theme-map) {
       .bw {
           .left  {
           		.left_upper {
           			font-size: 5rem;
           		}
           		.left_lower {
           			font-size: 4rem;
           		}		
           	 font-size: 3rem;  
           }
           
           .right {
         		.right_upper {
           			font-size: 5rem;
           		}
           		.right_lower {
           			font-size: 4rem;
           		}		
               font-size: 3rem;
           }
       }

       .bw .right .left_upper .left_lower .right_upper .right_lower {
           position: relative;
       }

       .button {
           border: 0;
           border-radius: 10px;
           bottom: 10px;
           cursor: pointer;
           font-size: 1rem;
           font-weight: bold;
           padding: 1em 2em;
           position: absolute;
           right: 10px;
       }

       // Loop through each of the keys (sections)
       @each $section, $map in $theme-map {
           @if ($section == container) {
               .bw {
                   background-color: map-get($map, bg);
                   border: 1px solid map-get($map, border-color);
                   display: flex;
               flex-wrap: wrap;
//                   height: 500px;
                   justify-content: space-between;
               		align-items: center;
                   margin: 0 auto;
                   padding: 1em;
                   width: 100%;
               }
               
//         	  @include media-breakpoint-only(xs) {
//      		     .bw {
//                     display: block;
//      		    	 max-width: 80px;
//      		     	background-color: purple;
//      		     }  }     
//     	   
//     	   @include media-breakpoint-down(sm) {
//     		     .bw {
//                   display: block;
//     		       max-width: 570px;
//     		     background-color: red;
//     		     } }
//     	   @include media-breakpoint-only(md) {
//     		     .bw {
//     		       max-width: 760px; 
//     		     background-color: green;
//     		     } }
//     	   @include media-breakpoint-only(lg) {
//     		     .bw {
//     		       max-width: 990px; 
//     		     background-color: yellow;
//     		     } }
               
           } @else {
               .#{$section} {
                   background-color: map-get($map, bg);
                   color: map-get($map, color);
//                   		&:hover{
//  					 		color: darken(#FFFFFF, 10%);
// 						}  

                 @if ($section != button) {
   					height: map-get($map, height);
   					width: map-get($map, width);
//                 	margin: auto;
				} @else {
   					&:hover {
       				background-color: lighten(map-get($map, bg), 20%);
   					}
				}
               }
           }
       }
   }

@include media-breakpoint-only(xs) {
@include themable(theme-xs, $theme-xs);
}

@include media-breakpoint-only(sm) {
@include themable(theme-sm, $theme-sm);
}

@include media-breakpoint-only(md) {
@include themable(theme-md, $theme-md);
}

@include media-breakpoint-only(lg) {
@include themable(theme-lg, $theme-lg);
}

@include media-breakpoint-only(xl) {
@include themable(theme-xl, $theme-xl);
}