$theme-xl: (
   container: (
       bg: #FFFFFF,
       color: #000,
       border-color: #000
   ),
   left: (
       bg: #FFFFFF,
       color: #000000,
       height: 100%,
       width: 39%
   ),
   left_upper: (
	       bg: #FFFFFF,
	       color: #000000,
	       height: 50%,
	       width: 100%		   		   
	),
   left_lower: (
	       bg: #FFFFFF,
	       color: #000000,
	       height: 50%,
	       width: 100%		   		   
	),   
   right: (
       bg: #FFFFFF,
       color: #000000,
       height: 100%,
       width: 59%
   ),
   right_upper: (
	       bg: #FFFFFF,
	       color: #000000,
	       height: 50%,
	       width: 100%		   		   
	),
   right_lower: (
	       bg: #FFFFFF,
	       color: #000000,
	       height: 50%,
	       width: 100%		   		   
	),        
   button: (
       bg: #481b16,
       color: #0ff
   )
);
