<div class="well">
  <div *ngFor="let alert of alerts"> 
 	<alert [type]="alert.type" dismissible="true"> {{alert.msg}} </alert>
  </div>
  
 <div class="form-group  form-inline">
	<label for="centeridInput" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 control-label text-right"> <span class="text-danger">*</span>Center Login Id:</label>
 	<input id="centeridInput" class="{{checkFlags.centerId}} form-control input-md" type="text" name="centerId" [(ngModel)]="centerprofile.centerId" placeholder="login Id" minlength="1" maxlength="40" required/>
 </div>

 <div class="form-group  form-inline">
	<label for="centeripasswordInput" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 control-label text-right"><span class="text-danger">*</span>Center Login Password:</label>
 	<input type="password" class="{{checkFlags.passWord}} form-control" [(ngModel)]="centerprofile.centerPassword" placeholder="Password" minlength="1" maxlength="20" required/>
 </div>

 <div class="form-group form-inline">
 	<label for="centernameInput" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 control-label text-right"><span class="text-danger">*</span>Center Name:</label>
 	<input id="centernameInput" class="{{checkFlags.centerName}} form-control" type="text" name="centerName" [(ngModel)]="centerprofile.centerName" placeholder="Center name to display" minlength="1" maxlength="30" required/>
 </div>
 
 <div class="form-group form-inline">
	<label for="centerDescInput" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 control-label text-right">Center Description:</label>
	<textarea class="form-control textareaClass" id="centerDescInput" [(ngModel)]="centerprofile.centerDescription" placeholder="Enter center description here..." col="6" rows="6"></textarea>
 </div>
 
 <div class="form-group form-inline">
	<label for="centerLogInput" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 control-label text-right">Center log:</label>
	<input type="file" class="form-control-file" hidden (change)="getLogFile($event)">
	<small id="centerLogInput" class="form-text text-muted col-xs-offset_2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-xl-offset-2 text-right">Please upload a log picture in pnd or jpg format.</small>
 </div>
 
 <div class="form-group form-inline">
	<label for="centerFirstnameInput" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 control-label text-right"><span class="text-danger">*</span>Owner First Name:</label>
	<input id="centerFirstnameInput" class="{{checkFlags.ownerFirstName}} form-control" type="text" name="centerName" [(ngModel)]="centerprofile.centerOwnerFirstName" minlength="1" maxlength="20" required/>
 </div>
 
 <div class="form-group form-inline">
	<label for="centerMidnameInput" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 control-label text-right">Owner Middle Name:</label>
	<input id="centerMidnameInput" class="form-control" type="text" name="centerName" [(ngModel)]="centerprofile.centerOwnerMidName" minlength="1" maxlength="10"/>
 </div>
 
 <div class="form-group form-inline">
	<label for="centerLastnameInput" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 control-label text-right"><span class="text-danger">*</span>Owner Last Name:</label>
	<input id="centerLastnameInput" class="{{checkFlags.ownerLastName}} form-control" type="text" name="centerName" [(ngModel)]="centerprofile.centerOwnerLastName" minlength="1" maxlength="20" required/>
 </div>
 
 <div class="form-group form-inline">
	<label for="centerAddr1Input" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 control-label text-right"><span class="text-danger">*</span>Center Address 1:</label>
	<input id="centerAddr1Input" class="{{checkFlags.address1}} form-control  inputClass" type="text" name="centerName" [(ngModel)]="centerprofile.centerAddress1" minlength="1" maxlength="80" required/>
 </div>
 
 <div class="form-group form-inline">
	<label for="centerAdd2Input" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 control-label text-right">Center Address 2:</label>
	<input id="centerAdd2Input" class="form-control  inputClass" type="text" name="centerName" [(ngModel)]="centerprofile.centerAddress2" minlength="1" maxlength="80"/>
 </div>
 
 <div class="form-group form-inline">
	<label for="centerCityInput" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 control-label text-right"><span class="text-danger">*</span>Center City:</label>
	<input id="centerCityInput" class="{{checkFlags.city}} form-control" type="text" name="centerName" [(ngModel)]="centerprofile.centerCity" minlength="1" maxlength="30" required/>
 </div>
 
 <div class="form-group form-inline">
	<label for="state" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 control-label text-right"><span class="text-danger">*</span>Center State:</label>
		<select class="{{checkFlags.state}} form-control" id="state" name="state" (change)="stateSelected($event)">
			<option value="">N/A</option>
			<option value="AK">Alaska</option>
			<option value="AL">Alabama</option>
			<option value="AR">Arkansas</option>
			<option value="AZ">Arizona</option>
			<option value="CA">California</option>
			<option value="CO">Colorado</option>
			<option value="CT">Connecticut</option>
			<option value="DC">District of Columbia</option>
			<option value="DE">Delaware</option>
			<option value="FL">Florida</option>
			<option value="GA">Georgia</option>
			<option value="HI">Hawaii</option>
			<option value="IA">Iowa</option>
			<option value="ID">Idaho</option>
			<option value="IL">Illinois</option>
			<option value="IN">Indiana</option>
			<option value="KS">Kansas</option>
			<option value="KY">Kentucky</option>
			<option value="LA">Louisiana</option>
			<option value="MA">Massachusetts</option>
			<option value="MD">Maryland</option>
			<option value="ME">Maine</option>
			<option value="MI">Michigan</option>
			<option value="MN">Minnesota</option>
			<option value="MO">Missouri</option>
			<option value="MS">Mississippi</option>
			<option value="MT">Montana</option>
			<option value="NC">North Carolina</option>
			<option value="ND">North Dakota</option>
			<option value="NE">Nebraska</option>
			<option value="NH">New Hampshire</option>
			<option value="NJ">New Jersey</option>
			<option value="NM">New Mexico</option>
			<option value="NV">Nevada</option>
			<option value="NY">New York</option>
			<option value="OH">Ohio</option>
			<option value="OK">Oklahoma</option>
			<option value="OR">Oregon</option>
			<option value="PA">Pennsylvania</option>
			<option value="PR">Puerto Rico</option>
			<option value="RI">Rhode Island</option>
			<option value="SC">South Carolina</option>
			<option value="SD">South Dakota</option>
			<option value="TN">Tennessee</option>
			<option value="TX">Texas</option>
			<option value="UT">Utah</option>
			<option value="VA">Virginia</option>
			<option value="VT">Vermont</option>
			<option value="WA">Washington</option>
			<option value="WI">Wisconsin</option>
			<option value="WV">West Virginia</option>
			<option value="WY">Wyoming</option>
		</select>
 </div>

 <div class="form-group form-inline">
	<label for="centerZipInput" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 control-label text-right"><span class="text-danger">*</span>Center Zip Code:</label>
	<input id="centerZipInput" class="{{checkFlags.zip}} form-control" type="text" name="centerName" [(ngModel)]="centerprofile.centerZipCode" minlength="1" maxlength="10" required/>
 </div>
 
 <div class="form-group form-inline">
	<label for="centerCountryInput" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 control-label text-right">Center Country:</label>
	<input id="centerCountryInput" class="form-control" type="text" name="centerName" [(ngModel)]="centerprofile.centerCountry" placeholder="USA" minlength="1" maxlength="20"/>
 </div>
 
 <div class="form-group form-inline">
 	<label  class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 control-label text-right" for="CenterInputEmail1"><span class="text-danger">*</span>Email address:</label>
 	<input type="email" class="form-control" id="CenterInputEmail1" aria-describedby="emailHelp"  [(ngModel)]="centerprofile.centerOwnerEmail" placeholder="Enter email" required/>
 	<small id="emailHelp" class="{{checkFlags.email}} form-text text-muted">We'll never share your email with anyone else.</small>
 </div>
 
 <div class="form-group form-inline">
	<label for="centerPhoneInput" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 control-label text-right"><span class="text-danger">*</span>Contact Phone Number:</label>
	<input id="centerPhoneInput" class="{{checkFlags.phone}} form-control" type="text" name="centerName" [(ngModel)]="centerprofile.centerOwnerPhone" minlength="1" maxlength="12" required/>
 </div>
 
 <div class="row">
 	<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 text-right">
 	<button type="submit" class="btn btn-secondary" (click)="handleModal('Are you sure to save?', 'Enroll Center', 'Yes', 'No', 'SaveYes', 'SaveNo')">Submit</button>
 	<button type="submit" class="btn btn-secondary" (click)="handleModal('Are you sure to cancel?', 'Enroll Center', 'Yes', 'No', 'CancelYes', 'CancelNo')">Cancel</button>
 	</div>
 </div>
 
 <div bsModal #modal="bs-modal" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
 	<div class="modal-dialog">
 		<div class="modal-content">
 			<div class="modal-header">
 				<button type="button" class="close" aria-hidden="true" (click)="modal.hide()">
 					<i class="fa fa-times"></i>
 				</button>		
 			</div>
 			<div class="modal-body">
 				<p>{{bodyMessage}} ?</p>
 			</div>
 			<div class="modal-footer">
 				<button type="button" class="btn btn-primary" (click)="this[action1]()">{{actionMessage1}}</button>
 				<button type="button" class="btn btn-primary" (click)="this[action2]()">{{actionMessage2}}</button>
 			</div>
 		</div>
 	</div>
 </div>
 
</div>
