<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- This is customer mapper file -->

<mapper namespace="com.zen.hub.zenhub.mappers.CustMapper">

<resultMap id="CustResultMap" type="com.zen.hub.zenhub.model.CustomerInfo">
<id column="cust_id" property="custId"/>
<result column="cust_name" property="custName"/>
<result column="cust_dob" property="custDob" typeHandler="org.apache.ibatis.type.DateTypeHandler"/>
<result column="cust_sex" property="custSex"/>
<result column="cust_proj" property="custProj"/>

</resultMap>

<sql id="custColumns"> 
cust_id, cust_name, cust_dob, cust_sex, cust_proj
</sql>


	<select id="selectCust" resultMap="CustResultMap">
    	SELECT <include refid="custColumns"/>
    	FROM CUSTINFO ci
    	WHERE cust_id = #{customer_id}
    </select>

</mapper>